@import 'Normalize.css';
.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt--1 {
  margin-top: -1px !important;
}

.mt--2 {
  margin-top: -2px !important;
}

.mt--3 {
  margin-top: -3px !important;
}

.mt--4 {
  margin-top: -4px !important;
}

.mt--5 {
  margin-top: -5px !important;
}

.mt--10 {
  margin-top: -10px !important;
}

.mt--20 {
  margin-top: -20px !important;
}

.mt--30 {
  margin-top: -30px !important;
}

.mt--40 {
  margin-top: -40px !important;
}

.mt--50 {
  margin-top: -50px !important;
}

.ml--1 {
  margin-left: -1px !important;
}

.ml--2 {
  margin-left: -2px !important;
}

.ml--3 {
  margin-left: -3px !important;
}

.ml--4 {
  margin-left: -4px !important;
}

.ml--5 {
  margin-left: -5px !important;
}

.ml--10 {
  margin-left: -10px !important;
}

.ml--20 {
  margin-left: -20px !important;
}

.ml--30 {
  margin-left: -30px !important;
}

.ml--40 {
  margin-left: -40px !important;
}

.ml--50 {
  margin-left: -50px !important;
}

.mr--1 {
  margin-right: -1px !important;
}

.mr--2 {
  margin-right: -2px !important;
}

.mr--3 {
  margin-right: -3px !important;
}

.mr--4 {
  margin-right: -4px !important;
}

.mr--5 {
  margin-right: -5px !important;
}

.mr--10 {
  margin-right: -10px !important;
}

.mr--20 {
  margin-right: -20px !important;
}

.mr--30 {
  margin-right: -30px !important;
}

.mr--40 {
  margin-right: -40px !important;
}

.mr--50 {
  margin-right: -50px !important;
}

.mb--1 {
  margin-bottom: -1px !important;
}

.mb--2 {
  margin-bottom: -2px !important;
}

.mb--3 {
  margin-bottom: -3px !important;
}

.mb--4 {
  margin-bottom: -4px !important;
}

.mb--5 {
  margin-bottom: -5px !important;
}

.mb--10 {
  margin-bottom: -10px !important;
}

.mb--20 {
  margin-bottom: -20px !important;
}

.mb--30 {
  margin-bottom: -30px !important;
}

.mb--40 {
  margin-bottom: -40px !important;
}

.mb--50 {
  margin-bottom: -50px !important;
}

.flex-col {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-col-center-top {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ico-15 {
  max-width: 15px !important;
}

.ico-16 {
  max-width: 16px !important;
}

.ico-17 {
  max-width: 17px !important;
}

.ico-18 {
  max-width: 18px !important;
}

.ico-19 {
  max-width: 18px !important;
}

.ico-20 {
  max-width: 20px !important;
}

.ico-21 {
  max-width: 20px !important;
}

.ico-22 {
  max-width: 22px !important;
}

.widen-font {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 7px;
  cursor: alias;
}

::-webkit-scrollbar-thumb {
  background: #424952;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:active {
  background: #3b424a;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

::-webkit-scrollbar-track {
  border: none;
  background: transparent;
}

.msg {
  min-width: 200px;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
  -khtml-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  left: 50px;
  bottom: 50px;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}
.msg.show {
  -webkit-animation: show-msg 0.25s ease-in forwards, hide-msg 0.25s 2.5s ease-out forwards;
          animation: show-msg 0.25s ease-in forwards, hide-msg 0.25s 2.5s ease-out forwards;
}
.msg.hide {
  -webkit-animation: hide-msg 0.25s ease-in forwards, show-msg 0.25s 2.5s ease-out forwards;
          animation: hide-msg 0.25s ease-in forwards, show-msg 0.25s 2.5s ease-out forwards;
}
.msg svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 17px;
  padding: 5px;
  border-radius: 25px;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}
.msg span {
  color: #6f7c8b;
  font-size: 2rem;
  font-weight: 700;
}

.msg-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.msg-type.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.msg .success svg {
  background: #1eb658;
}

.msg .failure svg {
  background: #D62828;
}

@-webkit-keyframes show-msg {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-msg {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes hide-msg {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
}
@keyframes hide-msg {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
}
h1 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #EAE2B7;
}

h2 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #EAE2B7;
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #EAE2B7;
}

.card {
  max-width: 550px;
  min-width: 300px;
  min-height: 200px;
  margin: 15px;
  padding-bottom: 20px;
  border-radius: 8px;
  background: #004163;
  overflow: hidden;
}
.card__type {
  height: 100px;
  margin-bottom: 20px;
  background: #F77F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__items {
  width: calc(100% - 30px);
  margin: 0 auto;
}
.card__item {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background: #003049;
  color: #EAE2B7;
  font-size: 1.5rem;
  border-radius: 5px;
}
.card .delete {
  background: #D62828;
  width: 0;
  height: 0;
  padding: 10px;
  border-radius: 20px;
  color: #f0f4f2;
  line-height: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}
.card .delete:hover {
  background: #db3d3d;
}

form {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

label {
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
  color: rgba(234, 226, 183, 0.6);
  font-size: 1.3rem;
}
label:first-of-type {
  margin-top: 0;
}

input, button, select {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  padding: 15px;
  background: #004163;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #EAE2B7;
  border: none;
  outline: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
input:hover, button:hover, select:hover {
  background: #00476d;
}
input:focus, button:focus, select:focus {
  background: #006296;
}
input::-webkit-input-placeholder, button::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(226, 245, 255, 0.4);
}

select {
  background: #00527c;
}

button {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding: 10px;
  background: #1eb658;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background: #23d567;
}
button:active {
  background: #1aa04d;
}

html {
  font: 10px "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  background: #003049;
  color: #f0f4f2;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 90%;
  height: 50px;
  background: #00527c;
  margin: 30px auto;
  margin-bottom: 50px;
  border-radius: 7px;
}

section {
  width: 90%;
  margin: 50px auto;
  margin-top: 0;
  padding: 50px;
  border-radius: 10px;
  background: #001f30;
}

section.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}