
// [ card ]
.card {
    max-width: 550px; min-width: 300px;
    min-height: 200px;
    margin: 15px;
    padding-bottom: 20px;
    border-radius: 8px;
    background: lighten($blue, 5%);
    overflow: hidden;

    &__type {
        height: 100px;
        margin-bottom: 20px;
        background: $orange;
        @include flex-align;
    }

    &__items {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    &__item {
        position: relative;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        background: $blue;
        color: $sand;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    .delete {
        background: $red;
        width: 0; height: 0;
        padding: 10px;
        border-radius: 20px;
        color: $white;
        line-height: 0;
        cursor: pointer;
        @include flex-align;
        @include align(right, center, absolute, 10px);

        &:hover {
            background: lighten($red, 5%);
        }
    }
}