
// [ form ]
form {
    width: 100%;
    @include flex-align(flex-start, flex-start, column);
}
label {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    color: rgba($sand, 0.6);
    font-size: 1.3rem;

    &:first-of-type { margin-top: 0 }
}
input {
    width: 100%;
    max-width: 700px; min-width: 300px;
    padding: 15px;
    background: lighten($blue, 5%);
    border-radius: 4px;
    font-size: 1.5rem;
    color: $sand;
    border: none; outline: none;
    appearance: none;
    -webkit-appearance: none;
    transition: background 0.25s;

    &:hover {
        background: lighten($blue, 7%);
    }
    &:focus {
        background: lighten($blue, 15%);
    }
    
    &::-webkit-input-placeholder {
        color: rgba(lighten($blue, 80%), 0.4);
    }
}
select {
    @extend input;
    background: lighten($blue, 10%);
}
button {
    @extend input;
    width: 200px; height: 50px;
    margin-top: 50px;
    padding: 10px;
    background: $green;
    font-weight: $f-bold;
    cursor: pointer;

    &:hover {
        background: lighten($green, 7%);
    }
    &:active {
        background: darken($green, 5%);
    }
}