
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; }
body {
    background: $blue;
    color: $white;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

// [ MAIN ]

// [ header ]
header { 
    width: $w; height: 50px;
    background: lighten($blue, 10%);
    margin: 30px auto;
    margin-bottom: 50px;
    border-radius: 7px;

}


// [ section ]
section {
    width: $w;
    margin: 50px auto;
    margin-top: 0;
    padding: 50px;
    border-radius: 10px;
    background: darken($blue, 5%);
}
section.examples {
    @include flex-align(flex-start, flex-start);
}