
// [ COLOURS ]:

$white:     #f0f4f2;
$dark:      #2b3036;
$green:     #1eb658;
$blue:      #003049;
$red:       #D62828;
$orange:    #F77F00;
$yellow:    #FCBF49;
$sand:      #EAE2B7;


// [ FONTS ]:

$f-size: 10px;
$f-body:    'Montserrat', sans-serif;
$f-decor:   'Syne', sans-serif;
$font: $f-size $f-body;
$f-lite:        300;
$f-normal:      400;
$f-medium:      500;
$f-semibold:    600;
$f-bold:        700;
$f-extra-bold:  800;
$f-black:       900;


// [ SIZES ]:

$w: 90%;

$mb: 576px;
$sm: 768px;
$md: 900px;
$lg: 1200px;




